:root,
*::after,
*::before {
  --color-black: #222;
  --color-grey: #888;
  --color-white: #fafafa;

  --color-primary: #27dc81;
  --color-primary-dark: #008f6d;
  --color-primary-transparent: rgba(0, 0, 139, 0.2);
}
