:root,
*::after,
*::before {
  --color-black: #333;
  --color-white: #fafafa;

  --color-primary: #0091ff;
  --color-primary-dark: #007bff;
  --color-primary-transparent: rgba(0, 0, 139, 0.2);

  --color-secondary: yellow;
  --color-secondary-dark: gold;
  --color-tertiary: #ea4c89;
}
