.FlowchartLinkWrapper {
  display: flex;

  width: 100%;
  padding: 3rem 0;

  color: var(--color-white);
  border-top: 1px solid var(--color-grey);

  transition: 0.2s;
}

.FlowchartLinkWrapper img {
  width: 128px;
  height: 128px;
  border-radius: var(--border-radius);
}

div.Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-right: 2rem;
}

a.Button {
  margin-top: 1rem;
  padding: 12px 16px;

  background-color: var(--color-primary);
  border-radius: var(--border-radius);

  transition: 0.2s;
}

a.Button:hover {
  background-color: var(--color-primary-dark);
}

div.Info h2 {
  margin: 0 0 -4px;
  font-weight: 300;
  color: var(--color-primary);
}

div.Info p {
  margin: 0;
  line-height: 1.8;
}
