main.AlbumWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.HeroImage {
  width: 100%;
  aspect-ratio: 1;
  height: calc(100vw - 2rem);
  max-height: 700px;

  border-radius: var(--border-radius);
}

main.AlbumWrapper iframe {
  width: 100%;
  max-width: 700px;
  border-radius: var(--border-radius);
}

article.Info {
  padding: 2rem;
}

article.Info h1 {
  margin: 0;
}
article.Info a {
  background-color: var(--color-secondary);
  padding: 0 4px;
  font-weight: 700;
}
