main.AlbumWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.HeroImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  max-height: 700px;

  -webkit-box-reflect: below 0px
    linear-gradient(
      to bottom,
      transparent 0%,
      transparent 75%,
      rgba(0, 0, 0, 0.4)
    );
}

main.AlbumWrapper iframe {
  width: 100%;
  max-width: 700px;

  border: 1px solid #555;
  border-radius: var(--border-radius);
}

article.Info {
  padding: 2rem 0;
  font-size: 0.9rem;
  line-height: 1.8;
  max-width: 100%;
  z-index: 1;
}

article.Info h1 {
  font-family: var(--font-roboto);
  text-transform: uppercase;
  font-stretch: extra-expanded;
  font-weight: 900;
  font-variation-settings: "XTRA" 1000;

  line-height: 0.9;
  font-size: clamp(1.5rem, 8vw, 3rem);
  hyphens: auto;
}

article.Info p,
article.Info li {
  color: var(--color-grey);
}

article.Info a {
  padding: 4px 8px;
  font-family: "Courier New", Courier, monospace;

  color: var(--color-primary);
  background-color: var(--color-black);
  border-radius: var(--border-radius);

  transition: 0.2s;
}

article.Info a:hover {
  color: var(--color-black);
  background-color: var(--color-primary);
}
