div.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

div.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  min-height: 100vh;
  overflow: hidden;
}

div.Hero h1 {
  font-family: var(--dela);
  font-size: 30vw;
  line-height: 0.9;
  text-transform: uppercase;
  transform: scaleY(0.8);
  letter-spacing: 0.5rem;
  margin: -12vw 0 0 1rem;
  color: var(--color-primary-dark);
}

div.InfoWrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

main.InfoContainer {
  max-width: 600px;
  padding: 10rem 4rem 0;
  color: var(--color-white);
  font-size: 18px;
  line-height: 1.8;
}

footer.Credits {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem 3rem;
  color: var(--color-primary-transparent);
  font-weight: 700;
}

div.ButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 2rem 0;
  justify-content: center;
}

@media (min-width: 576px) {
  main.InfoContainer {
    padding: 0 4rem;
  }

  div.ButtonsContainer {
    justify-content: flex-start;
  }
}
