div.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 100px;
  /* height: 100vh; */
}

main.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
}

main.Hero h1 {
  font-weight: lighter;
  font-size: 4rem;
  margin-top: 0;
}

main.Hero p {
  font-size: 0.9rem;
  line-height: 1.8;
}

div.InfoWrapper p {
  color: var(--color-grey);
}

@media (min-width: 1024px) {
  div.Container {
    height: 100svh;
  }

  main.Hero {
    flex-direction: row;
    max-width: 900px;
    margin-top: 100px;
  }
}
