ul.IndividualLinksWrapper {
  display: flex;
  flex-direction: column;
  padding: 0;

  margin: 4rem auto;
}

ul.IndividualLinksWrapper li {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 0;
  width: 100%;
}

.AlbumLink {
  list-style-type: none;
  padding: 1rem 0;

  display: flex;
  align-items: flex-start;
  gap: 1rem;

  transition: 0.2s;
}

a.Link:hover {
  transform: scale(1.02);
}

a.Link img {
  border-radius: var(--border-radius);
}

div.Content {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  row-gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  align-self: center;

  width: 100%;
}

div.Content p {
  margin: 0;
}

span.Button {
  padding: 12px 16px;
  margin-right: auto;
  width: 100%;

  font-family: "Courier New", Courier, monospace;

  color: var(--color-primary);
  background-color: var(--color-black);
  border-radius: var(--border-radius);

  transition: 0.2s;
}

span.Button:hover {
  color: var(--color-black);
  background-color: var(--color-primary);
}

@media (min-width: 576px) {
  div.Content {
    flex-direction: row;
    align-items: center;
  }

  span.Button {
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
  }
}
