div.AlbumsContainer {
  max-width: 1536px;
  margin: 4rem auto;
}

div.AlbumsContainer h1 {
  font-family: var(--font-roboto);
  text-transform: uppercase;
  font-stretch: extra-expanded;
  font-weight: 900;
  font-variation-settings: "XTRA" 1000;

  line-height: 0.9;
  font-size: 4rem;
  margin: auto;
  padding-inline: 2rem;
  max-width: 72rem;

  @media (max-width: 72rem) {
    font-size: clamp(2rem, 12vw, 3rem);
    text-align: center;
  }
}

div.LinksWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1536px;
  margin: 4rem auto;
  padding: 0 2rem;
  gap: 2rem;
}
